body{
	background-color: #ff9999;
}
h1{
	text-align: center;
	font-family: Algerian;
	font-size: 100px;
}
.page{
	border-color: #1313e7;
	border-style: double;
	align-content: center;
	border-width: 100px;
	border-size :20px;
}
.square{
	/*position: absolute;*/
	border: 3px solid red;
	border-radius: 5%;
	text-align: center;
	height: 300px;
	margin: auto;
	width: 50%;
	
	padding: 10px;
}

.click{
	padding: 10px;
	margin: 10px;
	width: 190px;
}